.DiscoverRoute {
  height: 100%;
  padding: 1.2rem;
  position: relative;
}

.DiscoverRoute-header {
  font-size: 1.4rem;
  font-weight: bold;
}

.DiscoverRoute-icirrInfoLink {
  bottom: 1.2rem;
  font-size: 1.2rem;
  font-weight: 600;
  left: 0;
  position: absolute;
  right: 0;
  text-align: center;
}

.DiscoverRoute-servicesList {
  padding: 1.2rem 0;
}

.DiscoverRoute-servicesListItem {
  align-items: center;
  border: 1px solid black;
  border-bottom: none;
  display: flex;
  font-size: 1.4rem;
  height: 3.9rem;

  &:first-child {
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
  }

  &:last-child {
    border-bottom: 1px solid black;
    border-bottom-left-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
  }
}

.DiscoverRoute-servicesListItemLabel {
  flex: 1 0 0%;
  padding-left: 1.2rem;
}

.DiscoverRoute-servicesListItemArrow {
  align-items: center;
  border-left: 1px solid black;
  display: flex;
  flex: 0 0 auto;
  height: 100%;
  justify-content: center;
  padding: 1.2rem;
}
