.EmergencyRoute {
  height:100%;
}

.EmergencyRoute-kyr {
  font-size:1.4rem;
  padding:0 1.2rem;
  strong {
    font-weight:700;
  }
}

.EmergencyRoute-hotlines {
  margin:0 1.2rem;
}

.EmergencyRoute-hotlinesTitle {
  font-size:1.6rem;
  font-weight:700;
  margin-bottom:0.6rem;
}

.EmergencyRoute-lawyerNumber {
  font-size:1.6rem;
  padding:1.2rem 1.2rem 0;
}

.EmergencyRoute-tab {
  background-color:$red;
}
