.KYRRoute {
    font-size: 1.2rem;
}

.KYRRoute-hotlineLink {
    padding: 1.2rem;
}

.RightsList {
    padding: 0.6rem;
}

.RightsItem {
    margin-top: 1.2rem;
}

.RightsItem-header {
    font-weight: bold;
    padding: 0.6rem;
}

.RightsItem-list {
    padding: 1 1rem;
    margin: 0.5rem;
}
