.PartnerInfo {
  font-size: 1.2rem;
}

.PartnerInfo-address {
  margin-bottom: 1.2rem;
}

.PartnerInfo-directions {
  margin-top: 0.6rem;
}

.PartnerInfo-name {
  font-weight: bold;
  margin-bottom: 0.6rem;
}

.PartnerInfo-phone {
  margin-bottom: 1.2rem;
}

.PartnerInfo-phoneLink {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}
