.Button {
  border-radius:0.3rem;
  flex:0 0 auto;
  height:100%;
  text-align:center;
}

.Button--primary {
  background-color:$icirr-green;
  border:none;
  box-shadow: -0.1rem 0.1rem 0.1rem $light-grey;
  color:$white;
  padding:0 1.2rem;
  &:active, &:focus {
    background-color:lighten($icirr-green, 10%);
    box-shadow:none;
    outline:none;
  }
}

.Button-content {
  font-size:1.2rem;
}
