.FloatyButton {
  background-color: $icirr-light-purple;
  border: 1px solid black;
  border-radius: 0.3rem;
  bottom: 1.2rem;
  box-shadow: 1px 1px 4px 1px black;
  color: white;
  font-size: 1.4rem;
  font-weight: bold;
  right: 0.6rem;
  position: absolute;
}
