.Select {
}

.Select--inline {
  align-items:center;
  display:flex;
  position:relative;
  &::after {
    align-items:center;
    content:'^';
    display:flex;
    flex-direction:column;
    font-size:1.8rem;
    height:100%;
    justify-content: center;
    position:absolute;
    right:1.2rem;
  }
}

.Select-input {
  .Select--inline & {
    border:1px solid $black;
    border-radius:0.3rem;
    flex:1 0 0%;
    font-size:1.4rem;
    min-width:0;
    padding:0.6rem;
    position:relative;
  }
}

.Select-label {
  .Select--inline & {
    flex:0 0 6.3rem;
    font-size:1.2rem;
    margin-right:0.6rem;
  }
}
