{
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "emcaFeatures": {
      "jsx": true,
      "globalReturn": true,
    }
  },
  "env": {
    "browser": true,
    "node": true,
    "es6": true,
    "jasmine": true
  },
  "extends": ["eslint:recommended", "plugin:import/errors", "plugin:react/all"],
  "globals": {
    "ENV": false
  },
  "parser": "babel-eslint",
  "plugins": [
    "react",
    "import"
  ],
  "rules": {
    "array-bracket-spacing": "off",
    "brace-style": "error",
    "block-scoped-var": "error",
    "comma-dangle": ["off", "always-multiline"],
    "comma-style": "error",
    "complexity": "off",
    "consistent-return": "error",
    "curly": ["error", "multi-line"],
    "default-case": "error",
    "dot-notation": "off",
    "eqeqeq": "error",
    "eol-last": "error",
    "guard-for-in": "error",
    "handle-callback-err": "error",
    "indent": ["warn", 2, {
      "SwitchCase": 1
    }],
    "jsx-quotes": ["error", "prefer-single"],
    "keyword-spacing": "error",
    "new-cap": "off",
    "no-class-assign": "off",
    "no-alert": "warn",
    "no-caller": "error",
    "no-cond-assign": ["error", "always"],
    "no-console": "off",
    "no-constant-condition": "warn",
    "no-debugger": "warn",
    "no-dupe-keys": "error",
    "no-duplicate-case": "off",
    "no-else-return": "off",
    "no-empty": "error",
    "no-eq-null": "error",
    "no-eval": "error",
    "no-ex-assign": "error",
    "no-extend-native": "error",
    "no-extra-bind": "error",
    "no-extra-boolean-cast": "off",
    "no-extra-semi": "error",
    "no-fallthrough": "error",
    "no-floating-decimal": "error",
    "no-func-assign": "error",
    "no-implied-eval": "error",
    "no-inner-declarations": "error",
    "no-invalid-regexp": "error",
    "no-irregular-whitespace": "error",
    "no-lone-blocks": "error",
    "no-loop-func": "error",
    "no-multiple-empty-lines": "error",
    "no-multi-str": "error",
    "no-native-reassign": "error",
    "no-nested-ternary": "error",
    "no-new": "error",
    "no-new-func": "error",
    "no-new-wrappers": "error",
    "no-obj-calls": "error",
    "no-octal": "error",
    "no-octal-escape": "error",
    "no-param-reassign": "error",
    "no-proto": "error",
    "no-redeclare": "error",
    "no-return-assign": "off",
    "no-script-url": "error",
    "no-self-compare": "error",
    "no-sequences": "error",
    "no-sparse-arrays": "error",
    "no-throw-literal": "error",
    "no-undefined": "off",
    "no-underscore-dangle": "off",
    "no-unreachable": "error",
    "no-unused-expressions": "error",
    "no-unused-vars": ["error", {
      "argsIgnorePattern": "^__",
      "varsIgnorePattern": "^__"
    }],
    "no-with": "error",
    "no-var": "error",
    "object-curly-spacing": [ "warn", "always" ],
    "quotes": ["warn", "single", "avoid-escape"],
    "radix": "error",
    "semi": ["warn", "always"],
    "spaced-comment": ["off", "always", {
      exceptions: ["*"]
    }],
    "space-before-blocks": ["error", "always"],
    "space-before-function-paren": ["error", "never"],
    "strict": "off",
    "use-isnan": "error",
    "valid-jsdoc": ["error", {
      prefer: {
        "return": "returns"
      },
      "requireReturn": false
    }],
    "vars-on-top": 0,
    "wrap-iife": ["error", "any"],
    "yoda": "error",

    // React Plugin Rules
    "react/display-name": "off",
    "react/forbid-component-props": "off",
    "react/forbid-prop-types": "off",
    "react/jsx-wrap-multilines": "warn",
    "react/no-array-index-key": "off",
    "react/no-danger": "warn",
    "react/no-did-mount-set-state": "warn",
    "react/no-did-update-set-state": "warn",
    "react/no-direct-mutation-state": "warn",
    "react/no-multi-comp": "off",
    "react/no-set-state": "off",
    "react/no-unescaped-entities": "off",
    "react/no-unknown-property": "warn",
    "react/prefer-es6-class": "off",
    "react/prefer-stateless-function": "off",
    "react/require-default-props": "off",
    "react/prop-types": "warn",
    "react/react-in-jsx-scope": "warn",
    "react/self-closing-comp": "warn",
    "react/sort-comp": "warn",
    "react/sort-prop-types": "off",

    // React Plugin JSX-specific rules
    "react/jsx-boolean-value": "off",
    "react/jsx-closing-bracket-location": "off",
    "react/jsx-curly-spacing": "off",
    "react/jsx-indent": ["error", 2],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/jsx-indent-props": ["error", 2],
    "react/jsx-max-props-per-line": "off",
    "react/jsx-no-bind": "warn",
    "react/jsx-no-duplicate-props": "warn",
    "react/jsx-no-literals": "off",
    "react/jsx-no-target-blank": "warn",
    "react/jsx-no-undef": "warn",
    "react/jsx-sort-props": "off",
    "react/jsx-uses-react": "warn",
    "react/jsx-uses-vars": "warn",

    // IMPORT PLUGIN
    "import/no-unresolved": "off",
    "import/default": "off"
  }
}
